<aside class="sidebar">

  <h2>MA</h2>

  <nav>

    <a routerLink="/dashboard">Dashboard</a>

    <a routerLink="/servicios">
      Servicios
    </a>

    <a routerLink="/ataudes">
      Ataúdes
    </a>

    <a routerLink="/capillas">
      Capillas
    </a>

    <a routerLink="/vehiculos">
      Vehículos
    </a>

    <a routerLink="/contratantes">
      Contratantes
    </a>

    <a routerLink="/fallecidos">
      Fallecidos
    </a>

    <a routerLink="/usuarios">
      Usuarios
    </a>

    <a routerLink="/perfil">
      Perfil
    </a>

  </nav>

</aside>