.navbar {
  height: 60px;
  background: #0e1a3a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.logo {
  font-weight: 600;
  font-size: 18px;
}

.menu-btn {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.logout {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
}