<aside class="sidebar" [class.closed]="!open">

  <nav>

    <a routerLink="/servicios">Servicios</a>

    <div class="menu-section">
      Personas
    </div>

    <a routerLink="/contratantes">Contratantes</a>
    <a routerLink="/fallecidos">Fallecidos</a>

    <div class="menu-section">
      Productos
    </div>

    <a routerLink="/ataudes">Ataúdes</a>
    <a routerLink="/capillas">Capillas</a>
    <a routerLink="/vehiculos">Vehículos</a>

    <div class="menu-section">
      Otros
    </div>

    <a routerLink="/prediccion">Predicción de inventario</a>

    <a routerLink="/perfil">Perfil</a>

  </nav>

</aside>