.page{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

button{
  background:#0f172a;
  color:white;
  padding:8px 14px;
  border:none;
  border-radius:6px;
}

button:hover{
  background:#1e293b;
}